.input-panel{
  height: 100vh;
  padding: 20px;
  border: 1px solid black;
  overflow-y: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-containers{
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(122, 119, 119);
}